<div class="lg:mt-[4rem] mt-[2rem]">
  <h1 class="font-bold text-center lg:text-[3rem] text-black text-lg py-2">
    Get Access To Products On The Go
  </h1>
  <div
    class="grid grid-cols-1 lg:grid lg:grid-cols-2 lg:gap-10 gap-5 text-gray-700 lg:py-[4rem]"
  >
    <img
      src="https://placebeard.it/640x360"
      alt="waitlist image"
      class="object-cover w-full lg:min-h-[400px] rounded-lg"
    />
    <h1
      class="text-[1rem] font-normal lg:text-[2.5rem] text-gray-900 leading-relaxed lg:w-10/12 lg:flex justify-center items-center text-center w-full lg:text-left mb-[2rem]"
    >
      You Are A Step Away From Shopping Freedom
    </h1>
  </div>
</div>
