<div
  class="grid grid-cols-1 lg:grid lg:grid-cols-2 lg:mt-10 text-gray-600 lg:h-[913px]"
>
  <div>
    <h1
      class="font-extrabold text-[2.5rem] lg:w-[547px] lg:text-[71px] w-8/12 text-gray-900 leading-none mb-[2rem] mt-[3rem]"
    >
      There is everything for everyone.
    </h1>
    <h2 class="lg:w-[585px] w-11/12 mb-[1.5rem]">
      We are working on a game-changing imporovements to how your shopping
      experience will be improved significantly.Start by entering your email
      address below and click
      <span class="font-bold text-black">Join Waitlist </span> for a position in
      our waitlist and get first hand information on when you can register
    </h2>
    <h1 class="lg:mt-[3rem] lg:mb-[4rem]">
      Don't worry,we have a strict rule against spamming..
    </h1>
    <div
      class="rounded-lg lg:border text-xs lg:text-lg lg:border-gray-300 flex flex-col gap-3 lg:flex lg:flex-row lg:w-[476px] lg:h-[72px] lg:p-2 mt-5"
    >
      <input
        type="text"
        placeholder="Enter your email address"
        class="outline-none p-2 border border-gray-300 lg:border-opacity-0 rounded-lg text-gray-500 w-5/12 lg:w-full"
      />
      <button
        class="bg-blue-500 lg:p-2 rounded-lg text-white lg:font-bold font-semibold p-2 whitespace-nowrap text-normal w-5/12 lg:w-[179px] lg:h-[56px]"
      >
        Join Waitlist
      </button>
    </div>
    <div class="flex flex-row gap-5 py-5 ml-3">
      <input type="checkbox" class="text-gray-400" />
      <h2>Join newsletter as well</h2>
    </div>
  </div>
  <div class="flex lg:justify-end justify-center lg:py-5">
    <div>
      <img
        src="/assets/public/hero.jpg"
        alt="waitlist image"
        class="object-cover w-full lg:min-h-[600px] rounded-lg"
      />
    </div>
  </div>
</div>
