<div class="lg:mt-[4rem] mt-[2rem] text-center w-full text-gray-700">
  <h1 class="font-bold lg:text-[3rem] text-black text-lg py-2 lg:py-[2rem]">
    Frequently Asked Questions
  </h1>
  <h2 class="mb-[1.5rem]">
    We are working on a game-changing imporovements to how your shopping
    experience will be improved significantly.Start by entering your email
    address below and click
    <span class="font-bold text-black">muustamail</span> for a position in our
    waitlist and get first hand information on when you can register
  </h2>
</div>
