<div
  class="flex justify-center items-center py-[3rem] border-b border-gray-300 mb-[2rem]"
>
  <div class="bg-[#EFF8FD] p-[2rem] rounded-lg lg:w-6/12">
    <h2 class="font-bold text-black py-[1rem] text-center">
      Subscribe to our Newsletters
    </h2>
    <div class="flex justify-between items-center bg-white rounded-lg">
      <input type="text" class="outline-none py-[1rem] px-4 w-[40%]" />
      <button class="bg-blue-400 py-[1rem] px-[1rem] rounded-r-lg">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon justify-end"
          fill="none"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polyline points="9 18 15 12 9 6" />
        </svg>
      </button>
    </div>
    <p class="py-3 text- #616161]">
      By Subscribing to our newsletters, you agree to our
      <span class="text-blue-500 underline px-1">Terms of Service</span> and our
      <span class="text-blue-500 underline px-1"> Policy on Handling data</span>
    </p>
  </div>
</div>
